<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Table1>
    <Servername>sqlprd_plsa_idkrasql02.dbiaas.sdi.pmi</Servername>
    <Username>RobotPalletizerWriter</Username>
    <Password>u4vZaRtsZKv+WbBMSfy6zA==</Password>
    <Database>RobotPaletizerCC</Database>
    <ServernameReject>sqlprd_idkraprd_fghssenzanihms.dbaas.sdi.pmi\PRD</ServernameReject>
    <UsernameReject>SenzaniFGHS_Writer</UsernameReject>
    <DatabaseReject>IDKRAPRD_FGHSSenzaniHMS</DatabaseReject>
    <PasswordReject>KCN4LsNQBYqrAWd0yrrZFQ==</PasswordReject>
   
  </Table1>
</NewDataSet>